name: findhomeapp
description: A new Flutter project.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  google_fonts: ^6.3.2
  url_launcher: ^6.3.2
  http: ^1.6.0
  provider: ^6.1.5+1

flutter_icons:
  android: 'launcher_icon'
  ios: true
  image_path: 'assets/icon_logo.png'

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_launcher_icons: ^0.14.0

flutter:
  uses-material-design: true

  assets:
    - assets/
